html{
    scroll-behavior: smooth;
    display: flex;
}
.nav-div{
    background-color: #A41D21;
    position: fixed;
    width: 252px;
    height: 832px;
    left: 0px;
    top: 0px;
}
.nav-div a{
    font-family: "Inter", sans-serif;
    color: white;
}
#myIITLogo{
    font-weight: bold;
    position: absolute;
    width: 78px;
    height: 36px;
    left: 20px;
    top: 13px;
    font-size: 30px;
}
